*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
local.properties
.kotlin
*.orig
*.swp
*.log
third_party/
core/stt/src/main/cpp/whisper.cpp/
app/release/
*.bin
*.gguf
*.ggml
.cxx/
.DS_Store
.idea/
*.keystore
*.jks
.vscode/
